/* box sizing model */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* variables */
:root {
	--size-font: 18px;
	--size: 1.5rem;
	--size-h1: 2rem;
	--size-container: 60rem;
}

@media (prefers-color-scheme: dark) {
	:root,
	:host {
		--c-link: #00ff00;
		--c-fg: white;
		--c-bg: black;
		--c-s: darkslategray;
	}
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		--c-link: #ff00ff;
		--c-fg: black;
		--c-bg: white;
		--c-s: lightgray;
	}
}

html,
body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}

body {
	margin: 0;
	font-size: var(--size-font);
	background-color: var(--c-bg);
	color: var(--c-fg);
}

/* default elements */
a {
	color: var(--c-link);
}
img {
	width: auto;
	max-width: 100%;
}
details {
	padding: calc(var(--size) / 3);
	&[open] > summary {
		margin-bottom: calc(var(--size) / 2);
	}
}
summary {
	cursor: pointer;
	padding: calc(var(--size) / 2);
	background-color: var(--c-s);
}
