/* game-element */
game-element {
	display: flex;
	flex-grow: 1;
	/* no padding or interface scrolls! */
	/* padding: 0; */
}
@media (max-width: 70rem) {
	game-element {
		flex-direction: column;
	}
}

game-settings {
	@media (min-width: 70rem) {
		& {
			flex-grow: 1;
		}
	}
}
game-settings summary {
	position: sticky;
	top: 0;
}
@media (min-width: 70rem) {
	game-settings {
		max-height: 100vh;
		max-width: 35vw;
		overflow: scroll;
	}
}
game-settings matrix-send-events {
	position: sticky;
	top: 0;
	background-color: var(--c-bg);
	padding: calc(var(--size) / 3);
}

game-result {
}

game-result-message {
}
game-result-game {
	margin-right: var(--size);
}
