matrix-room {
	display: flex;
	flex-direction: column;
	max-width: var(--size-container);
}
matrix-room slot[name="state"] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
matrix-room-state {
	display: flex;
	flex-direction: column;
	padding: var(--size);
}
matrix-room-name {
	font-size: var(--size-h1);
}
matrix-event {
	padding: calc(var(--size) / 2);
	display: flex;
	flex-direction: column;
}
matrix-event[event-type="m.room.message"] {
	border-left: 0.2rem solid var(--c-s);
}
matrix-event[event-type="io.gitlab.attention1.game_result"] {
	display: flex;
	flex-direction: column;
}

matrix-room button[dir="after"] {
	display: none;
}

matrix-send-event fieldset {
	border: none;
	padding: 0;
}
matrix-send-event form {
	display: flex;
	flex-direction: column;
}
matrix-send-event input,
matrix-send-event textarea {
	padding: calc(var(--size) / 3);
	width: 100%;
	max-width: 90%;
}
matrix-send-event button {
	padding: calc(var(--size) / 3);
}
matrix-send-event textarea {
	min-height: calc(var(--size) * 2);
}
matrix-send-event slot[name="eventTypes"] {
	display: none;
}
