ntfy-publish {
	display: none;
}
ntfy-subscribe::part(header) {
	display: none;
}
ntfy-subscribe::part(messages) {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
}
ntfy-message::part(message-header) {
	display: none;
}
ntfy-message::part(message-body) {
	margin: 0;
}

ntfy-subscribe {
	overflow: scroll;
	display: flex;
	background-color: plum;
}
